.experience {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr 4fr 1fr;
  justify-content:space-between;
  align-items: center;
  gap: 0px;
  height: auto;
  grid-auto-rows: auto;
  padding-top: 64px;
}
