.experience-section {
  display: grid;
  grid-template-columns: 1fr 5fr 5fr 1fr;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  padding-top: 64px;
}

%timeline-line {
  content: "";
  position: absolute;
  top: -2rem;
  bottom: -60rem;
  width: 5px;
  background: #464a3b;
  border-radius: 999px;
}

%timeline-details {
  position: relative;
  margin-bottom: 2rem;
}

%timeline-summary {
  // background-color: #e5eef9;
  background: linear-gradient(
    to right,
    rgba(36, 110, 185, 1),
    rgba(255, 255, 255, 0.65)
  );
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  cursor: pointer;
  border-bottom: 1px solid black;
  margin: 0;
  scroll-margin-top: 80px;

  &::-webkit-details-marker {
    display: none;
  }
  &::after {
    content: "+";
    margin-left: auto;
    font-weight: bold;
    transition: transform 0.2s;
  }
}

.no-scroll-margin {
  scroll-margin-top: 600px !important;
}

.timeline-left,
.timeline-right {
  position: relative;
  margin: 2rem 0;

  &::before {
    @extend %timeline-line;
  }

  details {
    @extend %timeline-details;

    summary {
      @extend %timeline-summary;
    }

    &[open] summary::after {
      content: "–";
    }

    .experience-body {
      background-color: #f9f6f3;
      padding: 16px;

      p {
        margin-bottom: 1rem;
      }
    }
  }
}

.timeline-left {
  padding-left: 2rem;
  &::before { left: -5px; }

  details {
    padding-left: 1.5rem;

    summary {
      padding: 8px 1rem 8px 8px;

      &::before {
        content: "";
        position: absolute;
        left: -3.5rem;
        top: 50%;
        width: 3.5rem;
        height: 2px;
        background: #464a3b;
        transform: translateY(-50%);
      }

      p {
        margin-bottom: 0;
      }
    }
  }
}

.timeline-right {
  padding-right: 2rem;
  &::before { right: 0; }

  details {
    padding-right: 1.5rem;

    summary {
      padding: 8px 8px 8px 1rem;

      &::before {
        content: "";
        position: absolute;
        right: -3.5rem;
        top: 50%;
        width: 3.5rem;
        height: 2px;
        background: #464a3b;
        transform: translateY(-50%);
      }

      p {
        margin-bottom: 0;
      }
    }
  }
}

.experience-section.end-of-line {
  > .timeline-left::before,
  > .timeline-right::before {
    bottom: 0;
  }
}

.role-block h4 {
  white-space: pre-line;
}

.img-experience {
  align-self: start;
  width: 580px;
  height: 705px;
  object-fit: cover;
  border-radius: 12px;
  justify-self: center;
}

.end-of-section {
  margin-bottom: 2rem;
}

.formations {
  display: grid;
  grid-template-columns: 0.5fr 4fr 8fr 0.51fr;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  padding-top: 64px;
  background-color: #f9f6f3;
}

.formation-cards {
  display: grid;
  justify-content: space-between;
  gap: 1rem;
}

.formation-card {
  summary {
    @extend %timeline-summary;

    padding: 8px 8px 8px 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;

    .summary-main {
      display: flex;
      flex-direction: column;
      flex: 1;
    }

    p {
      line-height: 0.5;
    }

    &::after {
      content: "+";
      font-size: 1.25rem;
      margin-left: 0.5rem;
    }
  }

  &[open] > summary::after {
    content: "–";
  }

  margin-bottom: 2rem;
}

.formation-body {
  background-color: #f9f6f3;
  padding: 16px;

  p {
    margin-bottom: 1rem;
  }
}

.img-formation {
  width: 681px;
  height: 647px;
  object-fit: cover;
  border-radius: 12px;
  justify-self: center;
  align-items: flex-start;
}

.projets-futurs {
  display: grid;
  grid-template-columns: 1fr 6fr 5fr;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  padding-top: 64px;

}

.background-image {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: relative;
  overflow: hidden;
  padding-bottom: 2rem;
}

.custom-list {
  list-style: none;
  padding-left: 1em;
  position: relative;

  li {
    position: relative;
    padding-left: 1em;

    &::before {
      content: '•';
      position: absolute;
      left: 0;
      color: black;
    }
  }
}
