.competences-grid {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  padding-top: 64px;
}

.competences-text-wrapper {
  width: 70%;
  margin: 0 auto; // ✅ This actually centers the block
  text-align: left;
}

.img-competences {
  height: 256px;
  width: 252px;
}

.competences-image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
  --gauge-size: 13rem; // Change this value to resize the gauge
  --gauge-border-width: 30px; // Adjust border thickness proportionally if needed
  --rotation: 0deg;
}

body {
  height: 100vh;
}

.container {
  font-family: Arial;
  height: calc(var(--gauge-size) / 2); // Half the gauge size for the container
  overflow: hidden;
  position: relative;
  width: calc(var(--gauge-size) + (var(--gauge-border-width) * 2)); // Gauge size + border width on both sides
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.gauge {
  background: transparent;
  border: var(--gauge-border-width) solid #e5eef9;
  border-radius: 50%;
  height: var(--gauge-size);
  width: var(--gauge-size);
  font-size: calc(var(--gauge-size) / 16); // Proportional font size
  transition: transform .2s ease;
  position: relative;
  &::before {
    content: '';
    border: var(--gauge-border-width) solid #246eb9;
    border-left-color: transparent;
    border-radius: 50%;
    border-top-color: transparent;
    height: calc(var(--gauge-size) );
    width: calc(var(--gauge-size) );
    left: calc(var(--gauge-border-width) * -1);
    top: calc(var(--gauge-border-width) * -1);
    // transform: rotate(calc(45deg + var(--rotation)));
    transform: rotate(calc(45deg + var(--rotation, 0deg)));
    // transform: rotate(calc(45deg + var(--rotation, 0deg))) translateZ(0);
    backface-visibility: hidden;
    transition: transform 1s ease-in-out;
    position: absolute;
    z-index: 2;
    -webkit-transform: rotate(calc(45deg + var(--rotation, 0deg)));
    -webkit-backface-visibility: hidden;
  }
  &__title {
    color: #1b1c17;
    left: 50%;
    text-align: center;
    z-index: 3;
  }
}

.gauges-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  margin-bottom: 4rem;
  gap: 32px;
}

.gauge-container {
  justify-items: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.gauge__cover {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  // color: #black;
  position: absolute;
  width: 100%;
  height: 100%;
  top: calc(var(--gauge-border-width) * -1.33); // Proportional offset
  left: 0;
  z-index: 3;
}

.gauge__title {
  margin: 0;
}
