// Specific CSS for your home-page

.overlay {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  padding: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.content-secondary {
  width: 580px;
}

#hero-section {
  margin-top: 15vh;
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 125vh;
  width: 100%;
  position: relative;
}

.img-hp-lg {
  width: 580px;
  height: 705px;
  object-fit: cover;
  border-radius: 12px;
}

.white {
  color: white !important;
}

.carousel-text {
  width: 480px;
  height: 336.92;
  text-align: left;
  margin-top: 1rem;
  padding: 0 1rem;
}

.carousel-container {
  width: 85vw;
  position: relative;
  overflow: hidden;
  margin: 4rem auto;
  padding: 2rem 0;
  background: transparent;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    width: 10%;
    height: 100%;
    z-index: 2;
    pointer-events: none;
  }

  &::before {
    left: 0;
    background: linear-gradient(to right, #f9f6f3, transparent);
  }

  &::after {
    right: 0;
    background: linear-gradient(to left, #f9f6f3, transparent);
  }
}

.carousel-track {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  scroll-behavior: auto;
  scroll-snap-type: none;
  // padding: 0 1rem;

  &::-webkit-scrollbar {
    display: none;
  }
}

.carousel-card {
  flex: 0 0 40%; // ~2.5 cards visible on desktop
  scroll-snap-align: start;
  background: transparent;
  border-radius: 10px;
  padding: 1rem;
  min-width: 40%; // ensures proper width
  max-width: 40%;

  @media (max-width: 768px) {
    flex: 0 0 80%;
    min-width: 80%;
    max-width: 80%;
  }

  img {
    width: 480px;
    height: 337px;
    border-radius: 12px;
  }

  .carousel-text {
    margin-top: 1rem;
    text-align: left;
  }
}

.testimonies-container {
  width: 1200px;

  .testimony-card {
    width: 580px;
    height: fit-content;
  }

  .testimony-img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
  }
}
