<div class="gauge-container">
  <div class="gauge-shell">
    <div class="gauge" data-value="<%= value %>">
      <div class="gauge__body">
        <div class="gauge__fill"></div>
        <div class="gauge__cover">
          <h1 class="gauge__title"></h1>
        </div>
      </div>
    </div>
  </div>
  <p class="gauge__title"><%= label %></p>
</div>
