<h1>Contact</h1>

<p>Benoît MARFANY</p>
<p>Le Haillan 33185</p>
<p>Gironde, France</p>
<p>+33.7.66.98.16.33</p>

<form action="/contact">
  <label for="last_name">Votre nom*</label>
  <input name="last_name" type="text">
  <label for="first_name">Votre prénom*</label>
  <input name="first_name" type="text">
  <label for="email">email*</label>
  <input name="email" type="text">
  <label for="subject">Objet de votre demande*</label>
  <input name="subject" type="text">
  <label for="message">Votre message*</label>
  <input name="message" type="text">
  <input type="submit">
</form>
