<div  class="parallax" style="background-image: url('<%= cl_image_path("d075f135-cbbf-4947-a48e-e2b0f72904e6_hje2vn", fetch_format: :auto) %>');">
  <div class="overlay">
    <div class="content-main">
      <h1>Benoît Marfany</h1>
      <h2>Administrateur d’Infrastructure Sécurisée et Chef de Projet</h2>
      <p>Bonjour,</p>
      <p>Je suis un administrateur d'infrastructure sécurisée et chef de projet IT, spécialisé dans l'administration et la virtualisation des infrastructures.</p>
      <p>Depuis plusieurs années, j'accompagne des entreprises dans l'évolution de leur système d'information, apportant compréhension et gestion de leurs projets de développement.</p>
      <p>Mon objectif est de partager mon savoir-faire en systèmes Windows, cloud et gestion de projets pluridisciplinaires.</p>
      <h3>Mes résaux sociaux</h3>
      <a href="https://www.linkedin.com" class="fa-brands fa-linkedin fa-2xl" target="_blank"></a>
      <a href="https://www.instagram.com" class="fa-brands fa-square-instagram fa-2xl" target="_blank" ></a>
    </div>
  </div>
</div>

<div class="flexbox">
  <img src="<%= cl_image_path("4803602_1280_bsvi6e", fetch_format: :auto) %>" alt="buildings" class="img-hp-lg">
  <div class="content-secondary">
    <h2>Qui suis je ? Quel est mon parcours</h2>
    <p>Après avoir obtenu un diplôme en comptabilité, j’ai décidé, en 2006, de suivre ma véritable passion : l’informatique.</P>
    <p>J’ai alors entrepris une reconversion professionnelle en obtenant un diplôme de technicien informatique, qui m’a permis de développer des compétences solides dans ce domaine en pleine évolution.</P>
    <p>Au fil des années, j'ai acquis une riche expérience, évoluant vers des rôles de coordination de projet et d’administration système. En 2012, j’ai consolidé mes connaissances en obtenant la certification Microsoft MCITP, un jalon clé de ma carrière.</p>
    <p>Plus récemment, en 2023, j’ai entrepris une formation en chefferie de projet digital pour enrichir mes compétences et répondre aux défis des environnements numériques modernes.</p>
    <p>Aujourd’hui, je continue de m’investir pleinement dans mes projets, avec la volonté d’allier expertise technique et gestion de projet pour relever de nouveaux challenges.</p>
  </div>
</div>
