<div class="hero-section" style="background-image: url('<%= cl_image_path("d075f135-cbbf-4947-a48e-e2b0f72904e6_hje2vn", fetch_format: :auto) %>');">
  <div class="overlay">
    <div class="content">
      <h1>Benoît Marfany</h1>
      <h2>Administrateur d’Infrastructure Sécurisée et Chef de Projet</h2>
      <p>Bonjour,</p>
      <p>Je suis un administrateur d'infrastructure sécurisée et chef de projet IT, spécialisé dans l'administration et la virtualisation des infrastructures.</p>
      <p>Depuis plusieurs années, j'accompagne des entreprises dans l'évolution de leur système d'information, apportant compréhension et gestion de leurs projets de développement.</p>
      <p>Mon objectif est de partager mon savoir-faire en systèmes Windows, cloud et gestion de projets pluridisciplinaires.</p>
      <h3>Mes résaux sociaux</h3>
      <a href="https://www.linkedin.com" class="fa-brands fa-linkedin fa-2xl" target="_blank"></a>
      <a href="https://www.instagram.com" class="fa-brands fa-square-instagram fa-2xl" target="_blank" ></a>
    </div>
  </div>
</div>
