.navbar {
  justify-content: space-between;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  padding: 1rem;
  font-family: "Playfair Display", serif;
  font-size: 18px;
  font-weight: medium;
  line-height: 1.2;
  letter-spacing: 0;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 74px;
}

.nav-link {
  color: black;
  text-decoration: none;
  transition: all 0.3s ease;

  &:hover {
    text-decoration: underline;
  }
}

.nav-link.active {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.homepage .nav-link {
  color: white !important;
}

.nav-item.dropdown {
  position: relative;

  &:hover > .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  .dropdown-menu {
    display: block; // override Bootstrap default display:none
    position: absolute;
    top: 100%;
    left: 0;
    background: transparent;
    backdrop-filter: saturate(180%) blur(3px); //blur effect
    -webkit-backdrop-filter: saturate(180%) blur(3px); //blur effect
    border: 0px;
    min-width: max-content;
    padding: 0.5rem 1rem;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.4);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: all 0.2s ease;
    z-index: 20;
  }

  .dropdown-menu li + li {
    margin-top: 1rem;
  }

   &:last-child > .dropdown-menu {
    left: auto;
    right: 0;
  }

  .dropdown-menu a {
    color: black;
    text-decoration: none;
    font-family: "Playfair Display", serif;

    &:hover {
      text-decoration: underline;
    }
  }
}

.homepage .dropdown-menu a {
  color: white !important;
}
