.navbar {
  justify-content: space-between;
  background: transparent;

  // frosted glass look
  // background: rgba(255, 255, 255, 0.1);
  // backdrop-filter: blur(1px);
  // -webkit-backdrop-filter: blur(1px);
  // end frosted glass look

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  padding: 1rem;
  color: white;
  font-family: "Playfair Display", serif;
  font-size: 18px;
  font-weight: medium;
  line-height: 1.2;
  letter-spacing: 0;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 60px;
}

.nav-link {
  color: black;
  text-decoration: none;
  transition: all 0.3s ease;
}

.nav-link:hover {
  text-decoration: underline;
}

.nav-link.active {
  text-decoration: underline;
  text-underline-offset: 4px;
}

/* For homepage-specific white link (if needed) */
.homepage .nav-link {
  color: white !important;
}
