// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.hero-section {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
  position: relative;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.35);
  padding: 2rem;
  border-radius: 8px;
}
