// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

@font-face {
  font-family: 'Satoshi';
  src: font-url('satoshi/Satoshi-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: font-url('satoshi/Satoshi-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

.hero-section {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  position: relative;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.35);
  padding: 2rem;
  border-radius: 8px;
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 1%;
}

h2 {
  font-family: "Playfair Display", serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: 1%;
}

h3 {
  font-family: "Playfair Display", serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 1%;
}

p {
  font-family: 'Satoshi', sans-serif;
}
